// INTRO SECTION
.play {
	background-color: $my-blue;
	margin-top: 50px;
}

// TYPE SECTION
#multiple {
	background-color: $my-yellow;
}
#boolean {
	background-color: $my-blue;
}

// LEVEL SECTION
#easy {
	background-color: $my-green;
}
#medium {
	background-color: $my-yellow;
}
#hard {
	background-color: $my-red;
}
